{
  "tabWidth": 2,
  "printWidth": 80,
  "trailingComma": "all",
  "semi": true,
  "importOrder": [
    "react",
    "^(?!react)\\w+$",
    "<THIRD_PARTY_MODULES>",
    "^@common/(.*)$",
    "^@components/(.*)$",
    "^[./]"
  ],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true
}
